.frame-film{
    height: 70vh;
    width: 70vw;
}
.back-drop{
    padding: 0;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}
.poster{
    max-width: 300px;
    width: 100%;
    border-radius: 20px;
    // position:absolute;
}
.film-detal-info{
    position: relative;
    top: -300px;
    display: flex;
    justify-content:center;
    .info-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        padding: 2rem;
    }
    .info-right {
        width: 50%;
        padding: 2rem;
    }
}

.genres-item{
    border: white 1px solid;
    padding: 0.3rem 0.8rem;
    margin: 5px;
    background-color: black;
    border-radius: 100px;
    opacity: 0.8;
}
.btn{
    max-width: 260px;
    padding: 1rem;
    margin: 2rem 0;
    width: 80%;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(255, 90, 90);
}
.img-actor{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 100px;
    object-position: center;
}
.actor-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        width: 150px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap; 
        text-overflow: ellipsis;
        margin: 0;
        padding: 0.3rem 0.8rem;
    }
}
.actor{
    display: flex;
    flex-wrap: wrap;
    
}