footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    padding: 2rem 2rem;
    background-color: #181a23;
    // background-image: url(../../assets/VN-vi-20220801-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}
.img__logo-big{
    width: 150px;
}
.footer__content{
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    
    &-left{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        width: 50%;
        justify-content: space-between;
        .address {
            width: 364px;

            img{
                width: 150px;
            }
        }
    }
    &-right{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        width: 45%;
        justify-content: space-between;
    }
}
.introduce__content > img{
    width: 140px;
    padding: 1rem 0;
}

.introduce__content-svg {
    padding: 1rem;
    
    img {
        padding-left: 1rem;
        :hover{
            color: black;
        }
    }
}
.introduce__content{
    color: rgb(208, 208, 208);
}
@media screen and (max-width: 600px) {
    footer{
        padding: 0.8rem;
    }
}
